.dashboard {
  //display: flex;
  //align-items: center;
  text-align: center;
  //flex-direction: column;
  //overflow: hidden;
  height: 85vh;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em;
    grid-template-areas:
            "A  B"
            "A  C";
    height: 100%;
  }

  &__box1 {
    grid-area: A;
  }

  &__box2 {
    grid-area: B;
  }

  &__box3 {
    grid-area: C;
  }

}