.error {
  position: relative;
  min-width: 400px;
  max-width: 500px;
  min-height: 220px;
  max-height: 300px;
  display: grid;
  grid-template-rows: 10% 40% 50%;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #FFEDED;
  margin: 0 auto;
  padding: 20px;
  color: #340000;

  &_absolute {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%) translateY(-50%);
  }

  &__header {
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  &__title {
    margin-left: 20px;
  }

  &__subheader {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
  }

  &__icon {
    padding-top: 3px;
  }

  &__message {
    &__info {
      font-size: 18px;
    }
  }

  &__img {
    position: absolute;
    bottom: .4rem;
    right: .4rem;
    max-height: 80px;
  }
}