.day-edit {
    height: 100%;
    width: 100%;

    &__content {
        padding: 10px;
        min-height: 140px;
        min-width: 150px;
    }

    &__time-range {
        margin: 0 auto;
        max-width: 80px;
    }

    &__field {
        height: 100%;
        display: flex;
        align-items: flex-start;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
    }
}
